<div
  [ngStyle]="style"
  class="grid-item"
  [draggable]="draggableProp"
  [resizable]="resizableProp"
  (onResizeStop)="onResizeHandler($event, 'onResizeStop')"
  (onResizeStart)="onResizeHandler($event, 'onResizeStart')"
  (onResize)="onResizeHandler($event, 'onResize')"
  (onStart)="onDragHandler($event, 'onDragStart')"
  (onDrag)="onDragHandler($event, 'onDrag')"
  (onStop)="onDragHandler($event, 'onDragStop')"
  >
  <h4 class="draggable-handle">{{style}}</h4>
  <ng-content></ng-content>
  <span class="resizable-handle"></span>
</div>
<div
  *ngIf="placeholderVisibility"
  [ngStyle]="placeholder"
  class="grid-placeholder">
</div>
